<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="geolocation"></ion-back-button>
        </ion-buttons>
        <ion-title>
            User Guide
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-grid>
        <ion-row color="secondary" >
            <ion-col  size-md="6" size-lg="12" size-xs="12">
                <div text-center padding>
                    <img src="../../assets/images/People_Assist_Logo_Template.png" width="110px" height="100px" />
                </div>
                <div >
                    <h1 style="text-align: center;" >User guide</h1>
                    <h4>How can I post about lost or found item or person ?</h4>
                    <p>In the main home page, press Add button on bottom right of the screen and then select option of post found or lost. 
                      <br> 1) First select item or person.
                      <br> 2) Then select photo and click upload button.
                      <br> 3) Insert marker on map and click post button.
                      </p>
                    <h4>How can I view posts ?</h4>
                    <p>There are separate buttons for Lost posts and Found posts on top right.</p>
                    <h4>How can I chat with person who has posted found or lost item/person ? </h4>
                    <p>Open post and click on view profile button then click on chat button on top right corner.</p>
                    <h4></h4>
                    <p></p>
                    <h1 style="text-align: center;">Frequently Asked Questions (FAQs)</h1>
                    <h4>Who can use People Assist App?</h4>
                    <p>We don't have an age limit on the use of People Assist App, however parents are encouraged to monitor what young children do online and on mobile devices.</p>
                    <h4>Should I meet strangers to retrieve my lost stuff?</h4>
                    <p>We encourage utilizing public spaces to meet strangers. Some cities have designated social media meeting spots around police departments. Use caution, as you would with any stranger encounter.</p>
                    <h4>Does People Assist App charge a fee for rewards people ask or want to give to retrieve lost & found items?</h4>
                    <p>People Assit app does not charge any fee as per now but maybe in near future it does.</p>
                    <h4>I found dangerous and prohibited items. Am I allowed to post them so their owners can retrieve them?</h4>
                    <p>NO, you are not allowed to post dangerous and harmful items if you found any. Serious action can be taken agaist user to do so.</p>
                    <h4>I forgot my password, what do I do?</h4>
                    <p>See option of forgot password from the app login screen.</p>
                    <h4>Where are my posts? I can't find them on the map.</h4>
                    <p>First make sure you have an active internet connection on your device. Go to you profile and look under My Posts</p>
                    
                    <div style="text-align: center;">
                        <h1 >About Developers:</h1>
                        <p>Name: Waqas Abbasi & Adil Arshad</p>
                        <p>Institution: IIUI</p>
                    </div>
                    
                    
                </div>
                <br><br><br><br><br><br><br><br><br>
                <div text-center>
                    <p>Copyright 2020. All rights reserved.</p>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>







</ion-content>