<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Lost Description</ion-title>
        <ion-buttons slot="end">
            <ion-back-button defaultHref="geolocation"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">


                <!-- DIV to dsiplay image -->
                <div class="col-lg-10">
                    <img [src]="user.src" onError="this.src='assets/images/avatar.jpg'" />
                </div>
                <!-- Place holder div -->
                <div style="border-style: solid; border-width: 2px;border-color: blue;position: relative; top:30px; width: 100%; ">
                    <ion-item style="font: size 11;font-family: sans-serif;color:blue; ">
                        <ion-label style="font: size 11;font-family: sans-serif;color:blue;" position="stacked">Title</ion-label>
                        <ion-input name="title " type="text " value={{dataretrieved?.data?.title}}></ion-input>
                       
                    </ion-item>
                    <ion-item style="font: size 11;font-family: sans-serif;color:blue; ">
                        <ion-label position="stacked">Posted By</ion-label>
                        <ion-input name="name " type="text " value={{dataretrieved?.data?.youremail}}>
                        </ion-input>
                    </ion-item>
                    <ion-item style="font: size 11;font-family: sans-serif;color:blue; ">
                        <ion-label position="stacked">Reward</ion-label>
                        <ion-input name="name " type="text " value={{dataretrieved?.data?.youremail}}>
                        </ion-input>
                    </ion-item>
                </div>
                <!-- div for description -->
                <div style="border-style: solid; border-width: 2px;border-color: blue;position: relative;top:40px; width: 100%; ">
                    <!-- <ion-item>
                        Description :
                        <ion-input name="description " type="text " value={{dataretrieved?.data?.description}}></ion-input>
                    </ion-item> -->
                    <ion-item>
                        <ion-label position="stacked">Description</ion-label>
                        <ion-textarea auto-grow="true"
                          disabled
                          readonly
                          value={{dataretrieved?.data?.description}}>
                        </ion-textarea>
                      </ion-item>
                </div>
                   <!-- div for displaying map -->
                <div padding class="ion-text-center" #mapContainer id="map"></div>


            </ion-col>
        </ion-row>
    </ion-grid>



</ion-content>