<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Post Lost
    </ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="geolocation"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <!-- [formGroup]="getLostData" -->
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-list>
              <ion-radio-group value="biff">
                <ion-list-header>
                  <ion-label>Type</ion-label>
                </ion-list-header>
                <ion-item>
                  <ion-label>Person</ion-label>
                  <ion-radio slot="start" value="person"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Item</ion-label>
                  <ion-radio slot="start" value="item"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
            <ion-item>
              <ion-input name="title" type="text" placeholder="Title" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="description" type="text" placeholder="Description" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input (click)="openImage()" name="image" placeholder="Add Image" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="reward" type="text" placeholder="Offer Reward" ></ion-input>
            </ion-item>
          </div>
          
          <div padding class="ion-text-center" #mapContainer  id="map"></div>

          <div padding id="buttons">
            <ion-button size="small" shape="round" type="submit" (click)="SaveToDB()">Post
              <ion-spinner name="bubbles" *ngIf="clicked"></ion-spinner>
            </ion-button>
            <ion-button  size="small" shape="round" (click)="cancel()">Cancel
              <ion-spinner name="bubbles" *ngIf="clicked"></ion-spinner>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
