<ion-header>
    
    <ion-toolbar color="primary">
           <ion-title *ngIf="!isSearchbarOpen">Traista</ion-title> 
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
      
        <ion-searchbar *ngIf="isSearchbarOpen"  showCancelButton="always" spellcheck="true" (ionCancel)="isSearchbarOpen=false" (ionCancel)="clearSearchResults()" [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Search for a place">
        </ion-searchbar>

        <ion-button slot="end" *ngIf="!isSearchbarOpen" (click)="isSearchbarOpen=true">
            <ion-icon name="search"></ion-icon>
        </ion-button> 
         <!-- <ion-buttons slot="end"  *ngIf="!isSearchbarOpen">
            <button ion-button (click)="isSearchbarOpen=true">
                 <ion-icon slot="icon-only" name="search"></ion-icon>
            </button>
        </ion-buttons>  -->
        
     
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list style="width: 90%;left: 5%; max-height: 200px; overflow-y: scroll;"
     [hidden]="autocompleteItems.length == 0">
        <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
            {{ item.description }}
        </ion-item>
    </ion-list> 
    <div #mapContainer id="map"></div>
   

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button href="../postlost" color="danger">
                <ion-icon name="gift"></ion-icon>
            </ion-fab-button>
            <ion-fab-button href="../postfound" color="danger">
                <ion-icon name="search"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button size="small" color="light" (click)="getLocation()">
            <img style="width: 20px" src="../../assets/icon/loc.png">
        </ion-fab-button>
        <ion-fab-button size="small" color="light" (click)="displayallmarkers()">
            <ion-icon name="search"></ion-icon>
        </ion-fab-button>
    </ion-fab>


</ion-content>