<ion-header>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
     <!-- <ion-title>
      Lost & Found
    </ion-title>  -->
     <ion-searchbar style="left:2%;width:98%;right: 20%;position: relative;" [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Search for a place"></ion-searchbar> 
    <ion-buttons  slot="end">
      <button ion-button (click)="getLocation()" >
         <ion-icon name="locate-filled" style="background-color: #3880ff;" color="danger" size="large" ></ion-icon> 
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div #mapContainer  id="map"></div>

  <ion-list  [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button href="../postlost" color="danger">
        <ion-icon name="gift"></ion-icon>
      </ion-fab-button>
      <ion-fab-button href="../postfound" color="danger">
        <ion-icon name="search"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
