<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Lost & Found
    </ion-title>
    <ion-buttons slot="end">
      <button ion-button (click)="getLocation()" >
         <ion-icon name="locate" size="large" color="dark" style="background-color:#3880ff;"></ion-icon> 
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div #mapContainer  id="map"></div>
</ion-content>
