<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            My Posts
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div #mapContainer id="map1"></div>


    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="secondary">
            <ion-icon name="eye" (click)="displayallmarkers()"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>