ion-item{
    // --background: #3880ff;
     --color: #3880ff;
 }
 
 ion-button{
     --background: #062f77;
 }
 #map {
    height: 60vh;
    width: 90%;
    //position: relative;
    left:5%; 
   }
#buttons{
     position: relative;
     left:50%;
   }