<ion-app>
    <ion-split-pane>
        <ion-menu type="overlay">
            <ion-header color="secondary">
                <ion-toolbar color="secondary">
                    <ion-title>Menu

                    </ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>

                <ion-header class="bar-profile">
                    <div *ngIf="!userexist" class="profile">
                        <img class="profile-picture" src="../assets/images/newbab.jpeg" width="150px" height="150px" />
                        <h3 class="name" style="font-family: sans-serif;color: white; size: 14px;">{{name}}</h3>
                    </div>
                    <div *ngIf="userexist" class="profile">
                        <img class="profile-picture" src="../assets/images/avatar.jpg" width="150px" height="150px" />
                        <h3 class="name">Your Name</h3>
                    </div>
                </ion-header>

                <!-- 

                <div color="secondary" class="profile">
                    <img class="profile-picture" src="../assets/images/Adil.jpeg" />
                    <h3 class="name" style="font-family: sans-serif;color: white">{{name}}</h3>
                </div> -->
                <ion-list>
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                        <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" *ngIf="p.url">
                            <ion-icon slot="start" [name]="p.icon"></ion-icon>
                            <ion-label>
                                {{p.title}}
                            </ion-label>
                        </ion-item>
                        <ion-item *ngIf="!p.url" (click)="logout()">
                            <ion-icon slot="start" [name]="p.icon"></ion-icon>
                            <ion-label>
                                {{p.title}}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                    <ion-icon slot="start" [name]="log-out"></ion-icon>

                </ion-list>

            </ion-content>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>