<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="geolocation"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Chats
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <div class="spin" *ngIf="spinner">
        <ion-spinner name="bubbles"></ion-spinner>
    </div> -->
    <ion-list class="welcome-card" *ngFor="let item of allChannelsRetrieved">
        <ion-item *ngIf="item !== 'a'" (click)="openChat(item)">
            <ion-label>{{item}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>