<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Register
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="getData">
        <ion-grid>
            <ion-row color="secondary" justify-content-center>
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                    <div text-center padding>
                        <img src="../../assets/images/People_Assist_Logo_Template.png" width="110px" height="100px" />
                    </div>

                    <div text-center>
                        <h4>Create your account!</h4>

                    </div>
                    <div padding>



                        <ion-item>
                            <ion-input name="name" type="text" placeholder="Name" formControlName="name"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input name="mnumber" type="text" placeholder="Mobile Number" formControlName="mnumber"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input name="address" type="text" placeholder="Address" formControlName="address"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input name="email" type="email" placeholder="your@email.com" formControlName="email"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input name="password" type="password" placeholder="Password" formControlName="password"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input name="confirm" type="password" placeholder="Password again" formControlName="confirm"></ion-input>
                        </ion-item>
                    </div>
                    <div padding>
                        <ion-button color="secondary" size="large" shape="round" type="submit" [disabled]="getData.invalid" (click)="SaveToDB()" expand="block">Register
                            <ion-spinner name="bubbles" *ngIf="clicked"></ion-spinner>
                        </ion-button>
                    </div>

                    <div text-center>
                        <p>Copyright 2020. All rights reserved.</p>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
    <!-- //end of form -->
</ion-content>